@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700;900&family=Nunito:wght@200;400;700;900&family=Roboto:wght@100;400;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    /* font-family: serif; */
    font-family: 'Roboto','Noto Sana TC';
    scroll-snap-type: y mandatory;
}
img{
    width: 100%;
}