nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color: #aaa; */
    height: 60px;
    z-index: 9999;
}
.nav-link,.nav-logo{
    color:#000;
    text-decoration: none;
    display: inline-block;
    padding-inline: 15px;
    padding-block: 8px;
    transition: 600ms;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: rgb(255 120 0/ .8);
}
/* nav a:not(.nav-logo):hover{
    background-color: rgb(255 120 0 / .8);
} */

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    position: relative;

    scroll-snap-align:start;
}
#model-s{
    background-image: url('https://picsum.photos/id/29/1600/1000');
}
#model-3{
    background-image: url('https://picsum.photos/id/12/1600/1000');
}
#model-x{
    background-image: url('https://picsum.photos/id/13/1600/1000');
}
#model-y{
    background-image: url('https://picsum.photos/id/14/1600/1000');
}
#product{
    background-image: url('https://picsum.photos/id/27/1600/1000');
}
#accessories{
    background-image: url('https://picsum.photos/id/16/1600/1000');
}
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.title {
    margin-top: 150px;
}
.title h2{
    font-size: 2.5rem;
}
.button-group {
    margin-bottom: 150px;
}
.btn{
    display: inline-block;
    padding-inline: 80px;
    padding-block: 8px;
    text-decoration: none;
    border-radius: 4px;
}
.btn-dark{
    color:#fff;
    background-color: #222;
}
.btn-light{
    color: #222;
    background-color: #ddd;
}
.arrow i{
    position:absolute;
    bottom:50px;
    color: red;
    animation: arrow 1s infinite;
    left:50%;
    /* transform: translateX(-50%); */
}
@keyframes arrow{
    0%{transform:translateX(-50%)translateY(0);}
    25%{transform:translateX(-50%)translateY(18px);}
    50%{transform:translateX(-50%)translateY(0);}
    75%{transform:translateX(-50%)translateY(6px);}
    100%{transform:translateX(-50%)translateY(0);}   
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
    font-size: 14px;
    padding-block: 10px;
    background-color: #fff;
}
footer a{
    color: #999;
    text-decoration: none;
    margin-inline: 10px;
}